*{
    padding: 0%;
    margin: 0%;
}

html, body{

    height: 100%;
    width: 100%;
}

.header{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: antiquewhite;
    padding: 10px;
}

#text{
    display: flex;
    text-align: center;
    justify-content: center;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 20px;
    font-weight: bolder;
}

.container{
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.card{
    background : white;
    padding: 20px;
    border-radius: 8px;
    box-shadow:  0 2px 6px rgba(0, 0, 0, 0.1);
}

label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

select, input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.btn{
    background-color: aqua;
}
.primary-btn{
    margin-top: 20px;
    /* margin-left: 100px; */
    width: 50%;
    padding: 12px;
    border-radius: 50px;
    color: rgb(79, 20, 243);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-center{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.primary-btn:hover{
    background-color: green;
    color: white;
}

footer{
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.ai-section{
    border-left: 5px solid blue;
}

.severity{
    padding: 4px 10px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}

.severity.high{
    background: #d32f2f;
    margin-left: 5px;
}

.severity.medium{
    background: #f9a825;
}

.severity.low{
    background: #388e3c;
}

.alert{
    border-left: 5px solid;
}

.high-alert{
    border-color: #d32f2f;
    background: #fdecea;
}